@import "../../styles/abstracts/variables";

.top {
  height: 100vh;
}
.card {
  margin: auto;
  width: 80vw;
  display: flex;
  flex-direction: row;
  border-radius: 50px;
  overflow: hidden;
}

.about--card {
  background-image: url("../../assets/loginbackgyound.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px;
  width: 900px;
  .img {
    width: 700px;
    margin-bottom: 100px;
  }
  .heading--about {
    font-size: $font-xlarge-xx;
    color: $white;
  }
  .text--about {
    color: $white;
  }
}
.login--card {
  padding: 100px 30px;
  width: 40vw;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    width: 0.1rem;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 1em;
    background-color: darkgrey;
    outline: 1px solid slategrey;
  }

  .heading--form {
    text-transform: uppercase;
    font-weight: 600;
  }

  .img {
    width: 350px;
    margin-bottom: 50px;
  }

  .input--field {
    margin-top: 10px;
    width: 100%;
  }

  .error {
    margin-top: -30px;
    margin-bottom: 10px;
    text-transform: capitalize;
  }

  .btn {
    background-color: $primary-main !important;
    width: 100%;
    text-transform: uppercase;
  }

  .forget--pass-btn {
    text-align: end;
    margin-top: 20px;
    right: 0;
    color: $primary-main;
    cursor: pointer;
    text-transform: capitalize;
  }

  .label {
    color: $black;
    font-size: $font-large-x;
  }
}
