<mat-card class="top">
  <mat-card class="card">
    <div class="about--card"></div>
    <div class="login--card">
      <img src="../../assets/logo.png" class="img" alt="" />

      <form #loginForm="ngForm" [formGroup]="form">
        <p>
          <mat-form-field class="input--field" appearance="outline">
            <mat-label>Enter Username</mat-label>
            <input
              type="input"
              matInput
              placeholder="Username"
              formControlName="username"
            />
          </mat-form-field>
        </p>

        <mat-error
          class="error"
          *ngIf="username && username.invalid && username.touched"
          >Enter username
        </mat-error>

        <p>
          <mat-form-field class="input--field" appearance="outline">
            <mat-label>Enter your password</mat-label>
            <input
              matInput
              [type]="hide ? 'password' : 'text'"
              formControlName="password"
            />
            <button
              mat-icon-button
              matSuffix
              (click)="hide = !hide"
              [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide"
            >
              <mat-icon class="icon">{{
                hide ? "visibility_off" : "visibility"
              }}</mat-icon>
            </button>
          </mat-form-field>
        </p>

        <mat-error
          class="error"
          *ngIf="password && password.invalid && password.touched"
          >Enter your password
        </mat-error>
      </form>

      <button
        mat-raised-button
        color="primary"
        class="btn"
        (keyup.enter)="onEnter(loginForm.value)"
        (click)="login(loginForm.value)"
      >
        login
      </button>

      <p (click)="forgotPass()" class="forget--pass-btn">
        Forgot your password?
      </p>
      <mat-error class="error" *ngIf="error">Unable to login</mat-error>
    </div>
  </mat-card>
</mat-card>
