@import "../../styles/abstracts/variables";

.forgot--pass-screen {
  height: 100vh;
  background-color: $backgroundColor;

  .forget--pass-card {
    text-align: center;

    background-color: $white;
    border-radius: 10px;
    margin: auto;
    height: 250px;
    width: 250px;
    padding: 30px 10px;

    .heading--primary {
      text-transform: capitalize;
    }
    .reset--txt {
      margin-top: -20px;
      font-size: 10px;
    }
    .btn {
      background-color: $btn;
    }
  }
}
