<mat-card class="forgot--pass-screen">
  <div class="forget--pass-card" *ngIf="userName">
    <h2 class="heading--primary">forgot your password</h2>
    <form action="" #username="ngForm">
      <mat-form-field appearance="fill">
        <mat-label>Enter username</mat-label>
        <input matInput placeholder="Placeholder" name="username" ngModel />
      </mat-form-field>
    </form>

    <p class="reset--txt">
      Enter Username in order to get a otp to reset password on your email
    </p>

    <button
      mat-raised-button
      color="primary"
      class="btn"
      (click)="onClick(username.value)"
    >
      Submit Username
    </button>
  </div>

  <div class="forget--pass-card" *ngIf="otpEntered">
    <h2 class="heading--primary">forgot your password</h2>
    <form action="" #username="ngForm">
      <mat-form-field appearance="fill">
        <mat-label>Enter username</mat-label>
        <input matInput placeholder="Username" name="username" ngModel />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Enter OTP</mat-label>
        <input matInput type="number" placeholder="OTP" name="otp" ngModel />
      </mat-form-field>
    </form>

    <p class="reset--txt">
      Enter Username in order to get a otp to reset password on your email
    </p>

    <button
      mat-raised-button
      color="primary"
      class="btn"
      (click)="otpLogin(username.value)"
    >
      Submit OTP
    </button>
  </div>

  <div class="forget--pass-card" *ngIf="update">
    <h2 class="heading--primary">forgot your password</h2>
    <form action="" #username="ngForm">
      <mat-form-field appearance="fill">
        <mat-label>Enter username</mat-label>
        <input matInput placeholder="Username" name="username" ngModel />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Enter Password</mat-label>
        <input matInput placeholder="Password" name="password" ngModel />
      </mat-form-field>
    </form>

    <p class="reset--txt">
      Enter Username in order to get a otp to reset password on your email
    </p>

    <button
      mat-raised-button
      color="primary"
      class="btn"
      (click)="updatePassword(username.value)"
    >
      Update Password
    </button>
  </div>
</mat-card>
