<div class="card">
  <div class="features--section">
    <nav class="side--nav">
      <div>
        <img src="../../assets/logo.png" class="img" alt="" />
        <ul class="side--nav-list">
          <li class="side--nav-item" routerLink="/home">
            <span class="material-symbols-outlined icon"> bar_chart </span
            >Dashboard
          </li>
          <li class="side--nav-item" routerLink="user" *ngIf="admin">
            <span class="material-symbols-outlined icon"> group </span>Users
          </li>
          <li class="side--nav-item" routerLink="meeting">
            <span class="material-symbols-outlined icon"> meeting_room </span
            >Meetings
          </li>
        </ul>
      </div>

      <h3 (click)="logout()" class="logout">
        <span class="material-symbols-outlined icon"> logout </span>
        Logout
      </h3>
    </nav>

    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
