@import "../../styles/abstracts/variables";

.features--section {
  background-color: $backgroundColor;
  display: flex;
  margin: auto;
  height: 100vh;

  .img {
    width: 100%;
    margin-bottom: 30px;
  }
  .side--nav {
    padding-right: 15px;
    padding: 20px;
    display: flex;
    width: 10vw;
    flex-direction: column;
    justify-content: space-between;
    &-list {
      padding: 0;
      margin: 0;
      list-style: none;
    }
    &-item {
      color: $black;
      font-size: $font-large-x;
      margin-bottom: 30px;
      display: flex;
      align-items: self-end;
    }
    .icon {
      margin-right: 5px;
    }

    :hover {
      cursor: pointer;
    }

    .logout {
      display: flex;
      align-items: center;
    }
  }

  .content {
    flex: 1;
    overflow-y: scroll;
  }
}
